<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dead link checker</title>
</head>
<body>
    <h1>Dead link checker</h1>
    <p>Dead link checker makes a request to all the external links on a Wikipedia page and establishes whether the link is dead or not. It was developed in Outreachy27 by <a href="https://github.com/Alwoch">Alwoch Sophia</a> in collaboration with <a href="https://github.com/WikiMovimentoBrasil">Wiki Movimento Brasil</a> as a request from the <a href="https://meta-wikimedia-org.translate.goog/wiki/Lista_de_desejos_tecnol%C3%B3gicos_da_lusofonia/Propostas?_x_tr_sl=auto&_x_tr_tl=en&_x_tr_hl=en&_x_tr_pto=wapp">Lusophone technological wishlist.</a></p>
    <p>The tool is inspired by <a href="https://de-m-wikipedia-org.translate.goog/wiki/Benutzer:Frog23/Dead_Link_Finder/en?_x_tr_sl=auto&_x_tr_tl=en&_x_tr_hl=en&_x_tr_pto=wapp">deadlinkfinder</a>, and credit goes to the original author for their contribution.</p>

    <h3>Contribute:</h3>
    <p>You can make contributions to this tool on <a href="https://github.com/WikiMovimentoBrasil/deadlinkchecker">github</a></p>
</body>
</html>