<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dead link checker</title>
</head>
<body>
    <h1>Dead link checker</h1>
    <p>Dead link checker makes a request to all the external links on a Wikipedia page and establishes whether the link is dead or not</p>
    <h3>Contribute:</h3>
    <p>You can make contributions to this tool on <a href="https://github.com/WikiMovimentoBrasil/deadlinkchecker">github</a></p>
</body>
</html>